
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDP -form</title>
      <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">


  </head>
  <body>
<!-- Top navbar -->
 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Academic Planner</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Login</a></li>
      <li class="active"><a href="#">Signup</a></li>
    </ul>
      
  </section>
</nav>

 <div class="row" style="margin-top: 50px;">
   <div class="large-8 large-offset-2 columns">
     <div class="panel callout radius">

       <!-- Title -->
       <div class="row">
         <label style="margin-top: 25px;margin-bottom: -5px; text-align: center; font-weight: bold; font-size: x-large">Academic Planner</label>
       </div>

       <!--Sub Title-->
       <div class="row">
         <label style="margin-top: 0px;margin-bottom: 25px; text-align: center; ">Please provide your details below jhsjgj dfjghkdf dkfjh</label>
       </div>

       <!-- Full Name -->
       <div class="row">
         <div class="large-4 columns">
           <label>Name</label>
         </div>
         <div class="large-8 columns">
           <input type="text" placeholder="Full Name">
         </div>

       </div>

       <!-- Choose your School -->
       <div class="row">
         <div class="large-4 columns">
           <label>Choose your School</label>
         </div>
         <div class="large-8 columns">
           <select name="year">
                        <option value="volvo">SITC</option>
                        <option value="volvo">SBE</option>
                        <option value="saab">SAS</option>
           </select>
         </div>

       </div>

       <!-- Choose your major -->
       <div class="row">
         <div class="large-4 columns">
           <label>Choose your major</label>
         </div>
         <div class="large-8 columns">
           <select name="year">
                        <option value="volvo">Select Your Major</option>
                        <option value="volvo">Spring</option>
                        <option value="saab">Fall</option>
           </select>
         </div>

       </div>

       <!-- Semester enrolled -->
       <div class="row">

         <div class="large-4 columns">
           <label>Semester enrolled</label>
         </div>
         <div class="large-8 columns">
           <select name="year">
                        <option value="volvo">select semester enrolled</option>
                        <option value="volvo">Spring</option>
                        <option value="saab">Fall</option>
           </select>
         </div>

       </div>

       <!-- Creadit Hours Earned -->
       <div class="row">

         <div class="large-4 columns">
           <label>Creadit Hours Earned</label>
         </div>
         <div class="large-8 columns">
           <input type="text" placeholder="Creadit Hours Earned">
         </div>

       </div>

       <!-- Current CGPA -->
       <div class="row">

         <div class="large-4 columns">
           <label>Current CGPA</label>
         </div>
         <div class="large-8 columns">
           <input type="text" placeholder="Current CGPA">
         </div>

       </div>

       <!-- CHow many credit do you intend to take each semester? -->
       <div class="row">

         <div class="large-4 columns">
           <label>How many credit do you intend to take each semester?</label>
         </div>
         <div class="large-8 columns">
           <input type="text" placeholder="How many credit do you intend to take each semester?">
         </div>

       </div>

       <!-- Year enrolled -->
       <div class="row">

         <div class="large-4 columns">
           <label>Year enrolled</label>
         </div>
         <div class="large-8 columns">
           <select name="year">
                        <option value="volvo">--Year enrolled--</option>
                        <option value="volvo">2016</option>
                        <option value="saab">2015</option>
                        <option value="fiat">2014</option>
                        <option value="audi">2013</option>
                    </select>
         </div>

       </div>

       <!-- Submit Button -->
       <div class="row">

         <div class="large-4 columns">
         </div>
         <div class="large-8 columns">
           <button type="button" class="success button" style="width: 100%;">Submit</button>
         </div>

       </div>




     </div>
   </div>
 </div>

<link rel="javascript" href="http://cdn.foundation5.zurb.com/foundation.js>

  </body>
</html>