
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDP -login</title>
      <!--
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="javascript" href="js/foundation.js">

   -->
      {% load static %}
<link href="{% static 'css/foundation.css' %}" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>


  </head>
  <body style="background-color: #e6e6e6">



<div class="row" style="margin-top: 100px;">
   <div class="large-6 large-offset-3 columns">
     <div class="panel callout radius" style="background-color: lightblue">

         <div class="row">
             <label><central></central></label>
         </div>

         <div class="row" style="margin-top: 25px">
           <div class="large-2 columns">
             <label>Email</label>
         </div>
           <div class="large-10 columns">
             <input type="text" placeholder="Email">
           </div>

         </div>


         <div class="row">
           <div class="large-2 columns">
             <label>Password</label>
           </div>
         <div class="large-10 columns">
           <input type="PASSWORD" placeholder="Password">
         </div>

         </div>

         <!-- Login Button -->
       <div class="row">

         <div class="large-2 columns">
         </div>
         <div class="large-10 columns">
           <button type="button" class="success button" style="width: 100%; background-color: #0c4d78; margin-left: 77px"  >Login</button>
         </div>
           <div class="large-6 columns">
             <label><a href="register/" style="margin-left: 100px"></a> Create account</label>
           </div>
           <div class="large-6 columns">
             <label><a href="#"></a> Forgot Password?</label>
           </div>

       </div>

     </div>
   </div>
</div>

</body>
</html>