{% extends "base.html" %}

{% block base_body %}


<div class="row" style="margin-top: 100px;">
   <div class="large-6 large-offset-3 columns">
     <div class="panel callout radius" style="background-color: lightblue">

         <div class="row">
             <label><central></central></label>
         </div>

         <div class="row" style="margin-top: 25px">
           <div class="large-2 columns">
             <label>Email</label>
         </div>
           <div class="large-10 columns">
             <input type="text" placeholder="Email">
           </div>

         </div>


         <div class="row">
           <div class="large-2 columns">
             <label>Password</label>
           </div>
         <div class="large-10 columns">
           <input type="PASSWORD" placeholder="Password">
         </div>

         </div>

         <!-- Login Button -->
       <div class="row">

         <div class="large-2 columns">
         </div>
         <div class="large-10 columns">
           <button type="button" class="success button" style="width: 100%; background-color: #0c4d78; margin-left: 77px"  >Login</button>
         </div>
           <div class="large-6 columns">
               <label><a href='/register/'>Create an Account</a></label>
           </div>
           <div class="large-6 columns">
             <label><a href="#"></a> Forgot Password?</label>
           </div>

       </div>

     </div>
   </div>
</div>

{% endblock base_body %}
