
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDP -Register</title>

      <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
      <link rel="javascript" href="http://cdn.foundation5.zurb.com/foundation.js">
    <!--

     <link rel="stylesheet" href="css/foundation.css">
    <link rel="javascript" href="js/foundation.js">
-->

  </head>
  <body>
<!-- Top navbar -->
 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Academic Planner</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Login</a></li>
      <li class="active"><a href="#">SignUp</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">L</a></li>
    </ul>
  </section>
</nav>

 <div class="row" style="margin-top: 100px;">
   <div class="large-8 large-offset-2 columns">
     <div class="panel callout radius">

       <!-- Title -->
       <div class="row">
         <label style="margin-top: 25px;margin-bottom: 25px; text-align: center; font-weight: bold;">Register</label>
       </div>


         <!-- Full Name -->
       <div class="row">
         <div class="large-2 columns">
           <label>Name</label>
         </div>
         <div class="large-10 columns">
           <input type="text" placeholder="Full Name">
         </div>

       </div>

         <!-- Email -->
         <div class="row">
           <div class="large-2 columns">
             <label>Email</label>
         </div>
           <div class="large-10 columns">
             <input type="text" placeholder="Email">
           </div>

         </div>

        <!-- School -->
         <div class="row">
           <div class="large-2 columns">
             <label>School</label>
         </div>
           <div class="large-10 columns">
             <select name="year">
                        <option value="volvo">SITC</option>
                        <option value="volvo">SBE</option>
                        <option value="saab">SAS</option>
           </select>
           </div>

         </div>


       <!-- Password -->
         <div class="row">
           <div class="large-2 columns">
             <label>Password</label>
           </div>
         <div class="large-10 columns">
           <input type="PASSWORD" placeholder="Password">
         </div>
         </div>

         <!-- SignUp Button -->
       <div class="row">

         <div class="large-2 columns">
         </div>
         <div class="large-10 columns">
           <button type="button" class="success button" style="width: 100%;">SignUp</button>
         </div>

       </div>

     </div>
   </div>
</div>

</body>
</html>