{% extends "base.html" %}

{% block base_body %}


 <div class="row" style="margin-top: 100px;">
   <div class="large-8 large-offset-2 columns">
     <div class="panel callout radius" style="background-color: lightblue">

       <!-- Title -->
       <div class="row">
         <label style="margin-top: 25px;margin-bottom: 25px; text-align: center; font-weight: bold;">Register</label>
       </div>


         <!-- Full Name -->
       <div class="row">
         <div class="large-2 columns">
           <label>Name</label>
         </div>
         <div class="large-5 columns">
           <input type="text" placeholder="First Name">
         </div>

          <div class="large-5 columns">
           <input type="text" placeholder="Last Name">
         </div>

       </div>

         <!-- Email -->
         <div class="row">
           <div class="large-2 columns">
             <label>Email</label>
         </div>
           <div class="large-10 columns">
             <input type="text" placeholder="Email">
           </div>

         </div>

        <!-- School -->
         <div class="row">
           <div class="large-2 columns">
             <label>School</label>
         </div>
           <div class="large-10 columns">
             <select name="year">
                        <option value="volvo">SITC</option>
                        <option value="volvo">SBE</option>
                        <option value="saab">SAS</option>
           </select>
           </div>

         </div>


       <!-- Password -->
         <div class="row">
           <div class="large-2 columns">
             <label>Password</label>
           </div>
         <div class="large-10 columns">
           <input type="PASSWORD" placeholder="Password">
         </div>
         </div>

         <!-- SignUp Button -->
       <div class="row">

         <div class="large-2 columns">
         </div>
         <div class="large-10 columns">
           <button type="button" class="success button" style="width: 100%;">SignUp</button>
         </div>

       </div>

     </div>
   </div>
</div>

{% endblock base_body %}