{% extends "main_base.html" %}

{% block base_body %}

<form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
<div class="row" style='margin-top: 2cm;'>
	<div class="large-8 columns">
        <input type="text" name="student_id" placeholder="Search Student ID">
    </div>
    <div class="large-4 columns">
        <button type="submit" class="success button" style="width: 100%; background-color: #5A9BD5;">Search</button>
    </div>
</div>
</form>
{% endblock base_body %}
