{% extends "main_base.html" %}

{% block base_body %}

<div class="row">
	<div class="large-6 columns">
		<table id = '{{profile_data.0}}' style="width:100%">
			<thead style='background:lightblue'>
			    <tr>
			      <th width="150"></th>
			      <th width="300">{{profile_data.0}}</th>
			      <th width="100"></th>
			      </tr>
			  </thead>
			<thead>
			    <tr>
			      <th width="150">Course code</th>
			      <th width="300">Title</th>
			      <th width="100"></th>
			      </tr>
			  </thead>
			  <tbody>
                    {% for course in schedules %}
                     {% if course.semester == profile_data.0 %}
                        <tr>
                            <td>{{ course.course_id }}</td>
                            <td>nil</td>
                            <td></td>
                        </tr>
                        {% endif %}
                      {% endfor %}
		      </tbody>
		</table>
	</div>
	<div class="large-6 columns">
		<table id = '{{profile_data.1}}' style="width:100%">
			<thead style='background:lightblue'>
			    <tr>
			      <th width="150"></th>
			      <th width="300">{{profile_data.1}}</th>
			      <th width="100"></th>
			      </tr>
			  </thead>
			<thead>
			    <tr>
			      <th width="150">Course code</th>
			      <th width="300">Title</th>
			      <th width="100"></th>
			      </tr>
			  </thead>
                    {% for course in schedules %}
                     {% if course.semester == profile_data.1 %}
                        <tr>
                            <td>{{ course.course_id }}</td>
                            <td>nil</td>
                            <td></td>
                        </tr>
                        {% endif %}
                      {% endfor %}
			  <tbody>
		      </tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<table id= '{{profile_data.2}}' style="width:100%" >
			<thead style='background:lightblue'>
			    <tr>
			      <th width="150"></th>
			      <th width="300">{{profile_data.2}}</th>
			      <th width="100"></th>
			      </tr>
			  </thead>
			<thead>
			    <tr>
			      <th width="150">Course code</th>
			      <th width="300">Title</th>
			      <th width="100"></th>
			      </tr>
			  </thead>
                    {% for course in schedules %}
                     {% if course.semester == profile_data.2 %}
                        <tr>
                            <td>{{ course.course_id }}</td>
                            <td>nil</td>
                            <td></td>
                        </tr>
                        {% endif %}
                      {% endfor %}
			  <tbody>
		      </tbody>
		</table>
	</div>
	<div class="large-6 columns">
		<table id='{{profile_data.3}}' style="width:100%">
		          <thead style='background:lightblue'>
			    <tr>
			      <th width="150"></th>
			      <th width="300">{{profile_data.3}}</th>
			      <th width="100"></th>
			      </tr>
			  </thead>
			<thead>
			    <tr>
			      <th width="150">Course code</th>
			      <th width="300">Title</th>
			      <th width="100"></th>
			      </tr>
			  </thead>
                    {% for course in schedules %}
                     {% if course.semester == profile_data.3 %}
                        <tr>
                            <td>{{ course.course_id }}</td>
                            <td>nil</td>
                            <td></td>
                        </tr>
                        {% endif %}
                      {% endfor %}
			  <tbody>

		      </tbody>
		</table>
	</div>
</div>
{% endblock base_body %}
